<layout name="layout/layout1" />
<div class="content_title w100 clearfix">
    <a href="<?php echo __ROOT__; ?>?goods=brand"><img src="<?php echo __ROOT__; ?>static/icon/a1.png" /><font>列表</font></a>
    <a href="<?php echo __ROOT__; ?>?goods=brand&type=add"><img src="<?php echo __ROOT__; ?>static/icon/a6.png" /><font>添加</font></a>
    <a href="<?php echo __ROOT__; ?>?goods=brand&type=edit"><img src="<?php echo __ROOT__; ?>static/icon/a9.png" /><font>搜索</font></a>
</div>
<div class="w100">
    <table class="content_list w100">
        <tr>
            <th width="8%">ID</th>
            <th>名称</th>
            <th>链接</th>
            <th>LOGO</th>
            <th width="10%">状态</th>
            <th width="10%">操作</th>
        </tr>
        <list name="list" item="v">
            <tr>
                <td>{$v.id}</td>
                <td>{$v.name}</td>
                <td><a target="_blank" href="{$v.link}">{$v.link}</a></td>
                <td><?php if(!empty($v['logo'])): ?><img width='60' height="40" border='0' src='<?php echo IMAGE_URL?>/{$v.logo}' /><?php endif; ?></td>
                <td>
                    <?php if($v['status']==1): ?>
                    <font class='cg'>可用</font>
                    <?php else: ?>
                    <font class='cr'>禁用</font>
                    <?php endif; ?>
                </td>
                <td>
                    <a href="<?php echo __ROOT__; ?>?goods=brand&type=edit&id={$v['id']}">修改</a>&nbsp;&nbsp;
                    <a href="javascript:confirm_('你确定要删除品牌 [{$v['name']}] 吗？','<?php echo __ROOT__.'?c=goods&a=branddelete&id='.$v['id']; ?>')" >删除</a></td>
            </tr>
        </list>
    </table>
    <div id="page" class="clearfix">{$pageinfo}</div>
</div>
