<layout name="layout/layout1" />
<div class="content_title w100 clearfix">
    <a href="<?php echo __ROOT__; ?>?goods=type"><img src="<?php echo __ROOT__; ?>static/icon/a1.png" /><font>列表</font></a>
    <a href="<?php echo __ROOT__; ?>?goods=type&act=add&clear=all"><img src="<?php echo __ROOT__; ?>static/icon/a6.png" /><font>添加</font></a>
    <a href="<?php echo __ROOT__; ?>"><img src="<?php echo __ROOT__; ?>static/icon/a9.png" /><font>搜索</font></a>
</div>
<div class="w100">
    <table class="content_list w100">
        <tr>
            <th width="12%">ID</th>
            <th>名称</th>
            <th>虚拟 / 实物</th>
            <th width="15%">状态</th>
            <th width="200">操作</th>
        </tr>
        <list name="list" item="v">
            <tr>
                <td>{$v.id}</td>
                <td>{$v.name}</td>
                <td>
                    <?php if($v['virtual']==1): ?>
                    <font class='cr'>虚拟</font>
                    <?php else: ?>
                    <font class='cg'>实物</font>
                    <?php endif; ?>
                </td>
                <td>
                    <?php if($v['status']==1): ?>
                    <font class='cg'>可用</font>
                    <?php else: ?>
                    <font class='cr'>禁用</font>
                    <?php endif; ?>
                </td>
                <td>
                    <a href="<?php echo __ROOT__; ?>?goods=type&act=typeAttrlist&id={$v['id']}">属性列表</a>&nbsp;&nbsp;
                    <a href="<?php echo __ROOT__; ?>?goods=type&act=edit&id={$v['id']}">修改</a>&nbsp;&nbsp;
                    <?php if($v['id']==44){ ?>
                    &nbsp;&nbsp;
                    <?php }else{ ?>
                    <a href="javascript:confirm_('你确定要删除商品分类 [{$v['name']}] 吗？','<?php echo __ROOT__.'?goods=type&act=delete&id='.$v['id']; ?>')" >删除</a></td>
                    <?php } ?>
            </tr>
        </list>
    </table>
    <div id="page" class="clearfix">{$pageinfo}</div>
</div>
