
<div class="content_title w100 clearfix">
    <a href="<?php echo __ROOT__; ?>?system=devMenu"><img src="<?php echo __ROOT__; ?>static/icon/a1.png" /><font>菜单列表</font></a>
    <a href="<?php echo __ROOT__; ?>?system=devMenu&type=addmenu"><img src="<?php echo __ROOT__; ?>static/icon/a6.png" /><font>添加菜单</font></a>
    <a href="<?php echo __ROOT__; ?>?system=devMenu&type=Permission"><img src="<?php echo __ROOT__; ?>static/icon/a1.png" /><font>权限列表</font></a>
    <a href="<?php echo __ROOT__; ?>?system=devMenu&type=addPermission"><img src="<?php echo __ROOT__; ?>static/icon/a6.png" /><font>添加权限</font></a>
    <a href="<?php echo __ROOT__; ?>?system=devMenu&type=modelaction"><img src="<?php echo __ROOT__; ?>static/icon/a1.png" /><font>模块操作</font></a>
    <a href="<?php echo __ROOT__; ?>?system=devMenu&type=addaction"><img src="<?php echo __ROOT__; ?>static/icon/a6.png" /><font>添加操作</font></a>
</div>