<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="<?php echo __ROOT__; ?>static/jquery-1.8.1.min.js" type="text/javascript"></script>
        <link href="<?php echo __ROOT__; ?>static/style.css" rel="stylesheet" type="text/css"/>
        <style>
            table{ width:100%; }
            table thead th{ height: 32px; background-color: #f4f4f4; }
            table tbody td{ border-bottom: 1px solid #f4f4f4; height: 36px; text-align: center; }
            table tbody td a{     color: #009AFF; display: inline-block; }
        </style>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>控制器</th>
                    <th>方法</th>
                    <th>说明</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <?php if(isset($list) && $list){ foreach($list as $v){ ?>
                <tr>
                    <td>{$v.colltroller}</td>
                    <td>{$v.action}</td>
                    <td>{$v.comment}</td>
                    <td>
                        <a href="<root />?c=dev&a=editaction&id={$v.id}&mtagid={$v.mtagId}" >修改</a>&nbsp;&nbsp;
                        <a href="#" class="c1" onclick="if(confirm('确定要删除吗？')){ window.location.href='<root />?c=dev&a=delaction&id={$v.id}&mtagid={$v.mtagId}' }" >删除</a>
                    </td>
                </tr>
                <?php } } ?>
                
                <?php if($_GET['mtagid']){ ?>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="<root />?c=dev&a=editaction&mtagid={$_GET.mtagid}" >添加</a></td>
                </tr>
                <?php } ?>
                
            </tbody>
        </table>
    </body>
</html>
