<div class="content" style="overflow: scroll; height: 390px;" >
    <table id="grantlisttable" class="content_list w100">
        <thead>
        <tr>
            <th style="wdith:15px" ><input type="checkbox" onclick="publicMethod.listcheck(this,'goodslistcheck')"/></th>
            <th>编号</th>
            <th>名称</th>
            <th>原价</th>
        </tr>
        </thead>
        <tbody>
        <list name="list" item="v" >
        <tr>
            <td><input name="goodslistcheck[]" type="checkbox" value="{$v.id}" /></td>
            <td>{$v.sn}</td>
            <td>{$v.name} {$v.attributeStr}</td>
            <td>{$v.shopPrice}</td>
        </tr>
        </list>
        </tbody>
    </table>
    <div id="page" class="SpecifiesGoodspage" class="clearfix">{$pageinfo}</div>
</div>
