/* 
    Created on : 2016-5-5, 2:33:55
    Author     : kyle
*/
.v3area1{ height: 280px; margin: 10px 0px 0px 5px; }
.v3area2{ width: 205px; height: 200px; background-color: #fff; border:1px solid #e1e1e1; }
.v3area2 h2{margin: 0px auto; padding: 5px 0px; text-indent: 10px; color:#888;  }
.v3area2 p{ width:88%; margin: 8px auto; overflow: hidden;  }
.v3area2 p a{ color:#555; text-decoration: none; }
.v3area2 p a:hover{ color:#f00; }

.v3area3{ width: 205px; height: 60px; margin:0px; margin-bottom: 15px; border:1px solid #e1e1e1; }
.v3area3 img{ width: 205px; height: 148px; }
.v3area3 a{ text-decoration: none; font-size: 14px; display: inline-block; background-color: #FF6E6E; color:#fff; padding: 8px 18px; margin: 13px; }
.v3area3 a:hover{ background-color: #DF4747; }
.v3area4{ width: 768px; height: auto;  border-right:1px solid #e1e1e1; }
.v3area4 div.b1{ height: 188px; border: 1px solid #e1e1e1;width: 255px; float: left; border-right:0px; }
.v3area4 div.b1 img{ width: 120px; height: 120px; margin: 34px auto; display: block; }
.v3area5{width: 207px; margin-top: 10px; height: 177px;   }