<style type="text/css" >
.addfielddl1 dd{float: left;margin: 0px; line-height: 26px;padding: 0px;}    
.addfielddl1 dd.t{text-align: right; color:#777;}
.addfielddl1{margin: 0px; padding: 0px;}

#addcolumn_r1 td{background-color: #fff; border-bottom: 1px solid #e1e1e1; padding: 10px 0px;}
#addcolumn_r1 td a.addcolumn_a1{display: inline-block;width: auto;padding: 6px;background-color: #e1e1e1;color: #555;margin-left: 4px;text-indent: 0px; text-decoration: none;}
#addcolumn_r1 td a.addcolumn_a2{display: inline-block;width: auto;padding: 6px;background-color: #0066AC;color: #fff;margin-left: 4px;text-indent: 0px; text-decoration: none;}
#addcolumn_r1 td a.addcolumn_a1:hover{display: inline-block;width: auto;padding: 6px;background-color: #0097FF;color: #fff;margin-left: 4px;text-indent: 0px; text-decoration: none;}
</style>
<table class="w100 content_list">
    <tr id="addcolumn_r1" >
        <td colspan="3" style="text-align: left;" >
            <a class='<if con="!isset($_GET['type'])" >addcolumn_a2<else />addcolumn_a1</if>' href="<root />?weixin=index">HOME</a>
            <a class='<if con="$_GET['type']=='b'" >addcolumn_a2<else />addcolumn_a1</if>' href="<root />?weixin=index&type=b">自定义菜单</a>
            <a class='<if con="$_GET['type']=='c'" >addcolumn_a2<else />addcolumn_a1</if>' href="<root />?weixin=index&type=c">生成二维码</a>
            <!--<a class='<if con="$_GET['type']=='d'" >addcolumn_a2<else />addcolumn_a1</if>' href="<root />?weixin=index&type=d">分享管理</a>-->
            <a class='<if con="$_GET['type']=='e'" >addcolumn_a2<else />addcolumn_a1</if>' href="<root />?weixin=index&type=e">消息自动回复</a>
            <!--<a class='<if con="$_GET['type']=='f'" >addcolumn_a2<else />addcolumn_a1</if>' href="<root />?weixin=index&type=f">获取用户列表</a>-->
            <a class='<if con="$_GET['type']=='g'" >addcolumn_a2<else />addcolumn_a1</if>' href="<root />?weixin=index&type=g">群发消息</a>
            <a class='<if con="$_GET['type']=='h'" >addcolumn_a2<else />addcolumn_a1</if>' href="<root />?weixin=index&type=h">接收事件推送</a>
            <a class='<if con="$_GET['type']=='i'" >addcolumn_a2<else />addcolumn_a1</if>' href="<root />?weixin=index&type=i">其他设置</a>
        </td>
    </tr>
</table>