<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>YixinuSHOP商城系统后台管理</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="<?php echo __ROOT__; ?>static/jquery-1.8.1.min.js" type="text/javascript"></script>
        <link href="<?php echo __ROOT__; ?>static/style.css" rel="stylesheet" type="text/css"/>
        <script src="<?php echo __ROOT__; ?>static/main.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="area_top w100" id="area_top">
            <!--<div class="logo"><a href="<?php echo __ROOT__; ?>" title="返回首页" >后台管理系统</a></div>-->
            <div class="menu">
                <div class="logo fleft"><a href="/" ><img src="<?php echo __ROOT__; ?>static/logo_2.png" /></a></div>
                <list name="menu" item="v">
                    <?php if($querystring == $v['url']  or $parentid == $v['id']): ?>
                    <div class='link fleft'><a style="color:#fff; background-color: #00C1DE;" href='<?php echo __ROOT__.'?'.$v['url']; ?>'><?php echo $v['name']; ?></a>
                        <!--<div class='bgimg'><img src='<?php echo __ROOT__; ?>static/menuBg.png' /></div>-->
                    </div>
                    <?php else: ?>
                    <div class='link fleft'><a href='<?php echo __ROOT__.'?'.$v['url']; ?>'><?php echo $v['name']; ?></a></div>
                    <?php endif; ?>
                </list>
                    <div class="link fright" ><a href="<?php echo __ROOT__; ?>?act=logout">退出登录({$userinfo_name})</a></div>
                    <?php if($isfounder){ ?>
                    <div class="link fright" ><a href="javascript:void(0)" onclick='delete_cache()'>清除缓存</a></div>
                    <?php } ?>
                    <div class="link fright" ><a target="_blank"  href="<?php echo 'http://'.MAIN_DOMAIN; ?>">查看前台</a></div>
                    <!--<div class="link fright" ><a target="_blank"  href="<?php echo 'http://'.MAIN_DOMAIN; ?>/doc/">开发文档</a></div>-->
                    <!--<div class="link fright" ><a href="http://www.yixinu.com" target="_blank" >关于异新优</a></div>-->
            </div>
<!--            <div class="topmenu">
                <a target="_blank"  href="<?php echo 'http://'.MAIN_DOMAIN; ?>/doc/">开发文档</a>
                <a target="_blank"  href="<?php echo 'http://'.MAIN_DOMAIN; ?>">查看前台</a>
                <a href="javascript:void(0)" onclick='$.get("?c=index&a=deleteCache",function(){confirm_("清除成功！");})'>清除缓存</a>
                <a href="<?php echo __ROOT__; ?>?act=logout">退出登录</a>
                <a href="http://www.yixinu.com" target="_blank" >关于异新优</a>
            </div>-->
<!--            <div style="color:#D8D8D8;display: inline-block;" >
                <a><?php echo CONTROLLER_NAME.'/'.ACTION_NAME; ?></a>
            </div>-->
        </div>
        <div class="area_middle w100 clearfix" id="area_middle">
            <div class="area_left" id="area_left">
                <!--<div style="height: 5px;" class="w100"></div>-->
                <?php $t = false; ?>
                <list name='menu_second' item='v'>
                    <?php  if($v['g']!=$t['g'] && !empty($t) ):  ?>
                    <div class="hr w100"></div>
                    <?php endif; ?>
                    
                    <?php if($querystring == matchurl($v['url']) ): ?>
                    <div class='menu'><a class='hover' href='<?php echo __ROOT__.'?'.$v['url']; ?>'>
                            <!--<img border="0" src='<?php echo __ROOT__;  ?>static/icon/a<?php echo rand(1,11); ?>.png' />-->
                            <font>{$v['name']}</font></a></div>
                    <?php else: ?>
                    <div class='menu'><a href='<?php echo __ROOT__.'?'.$v['url']; ?>'>
                            <!--<img border="0" src='<?php echo __ROOT__;  ?>static/icon/a<?php echo rand(1,11); ?>.png' />-->
                            <font>{$v['name']}</font></a></div>
                    <?php endif; ?>
                    <?php $t =$v; ?>
                </list>
            </div>
            <div class="area_right" id="area_right">
                <div class="content">
                    {__CONTENT__}
                </div>
                <div style="position: fixed; right:20px; bottom: 5px;color:#999" ><?php echo CONTROLLER_NAME.'/'.ACTION_NAME; ?></div>
            </div>
        </div>
    </body>
</html>