<layout name="layout/layout2" />
<div class="w100 clearfix">
    <div class="w100 h10"></div>
    <include file="index/menu" />
    
    <div class="w100 h10 fleft" >&nbsp;</div>
    <div class="w100 h10 fleft" >&nbsp;</div>
    <div class="layout2_area3 clearfix" >
        
        
        <div class="layout2_area11" >
            <table class="content_list">
                <tr class="bg3">
                    <th colspan="2" width="400" style="text-align: left;">登录信息 ({$info.user_role})</th>
                </tr>
                <tr>
                    <td style="text-align: right;"><span class="fb">商户名称：</span></td>
                    <td><span>{$info.business_name}</span></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><span class="fb">商户号：</span></td>
                    <td><span>{$info.business_no}({$info.business_no_hex})</span></td>
                </tr>
                <tr>
                    <td style="text-align: right;"><span class="fb">上一次登录：</span></td>
                    <td><span>{$info.lastTime}</span></td>
                </tr>
            </table>
        </div>
        <div class="layout2_area11" >
            <table class="content_list">
                <tr class="bg4">
                    <th width="480" style="text-align: left;">综合信息</th>
                </tr>
                <tr>
                    <td>今日销售额：</td>
                </tr>
                <tr>
                    <td>今日订单数：</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;</td>
                </tr>
            </table>
        </div>
        <div class="layout2_area11" style="float: right; margin-right: 0px; width: 31%;" >
            <table class="content_list">
                <tr class="bg2">
                    <th width="480" style="text-align: left;">系统通知&nbsp;&nbsp;<a href="#" class="c2">[查看更多]</a></th>
                </tr>
                <tr>
                    <td>信息</td>
                </tr>
                <tr>
                    <td>信息</td>
                </tr>
                <tr>
                    <td>信息</td>
                </tr>
            </table>
        </div>
        <div class="w100 h10 fleft" >&nbsp;</div>
        <div class="w100 h10 fleft" >&nbsp;</div>
        
        <div class="layout2_area1" >
            <table class="w100 content_list">
                <tr>
                    <th width="180" style="text-align: left;">系统信息</th>
                    <th width="300"></th>
                    <th></th>
                </tr>
<!--                <tr>
                    <td style="text-align: right;"><span class="fb">YixinuSHOP 版本：</span></td>
                    <td><span>{$info.yixinu}</span></td>
                    <td>&nbsp;</td>
                </tr>-->
                <tr>
                    <td style="text-align: right;"><span class="fb">服务器操作系统：</span></td>
                    <td><span>{$info.os}</span></td>
                    <td>&nbsp;</td>
                </tr>
<!--                <tr>
                    <td style="text-align: right;"><span class="fb">iframe版本：</span></td>
                    <td><span>{$info.iframe}</span></td>
                    <td>&nbsp;</td>
                </tr>-->
                <tr>
                    <td style="text-align: right;"><span class="fb">运行环境：</span></td>
                    <td><span>{$info.web} , php/{$info.version}</span></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align: right;"><span class="fb">上传限制：</span></td>
                    <td><span>{$info.uploadSize}</span></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align: right;"><span class="fb">数据库版本：</span></td>
                    <td><span>mysql/{$info.dbversion}</span></td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>

        <div class="layout2_area2" >
            <table class="w100 content_list">
                <tr>
                    <th width="180" style="text-align: left;">产品团队</th>
                    <th width="300"></th>
                    <th></th>
                </tr>
                <tr>
                    <td style="text-align: right;"><span class="fb">总策划：</span></td>
                    <td><span>向露 </span></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align: right;"><span class="fb">产品设计及研发：</span></td>
                    <td><span>异新优网络科技</span></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align: right;"><span class="fb">界面用户体验：</span></td>
                    <td><span>异新优网络科技</span></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align: right;"><span class="fb">官方网站：</span></td>
                    <td><span><a href="http://www.yixinu.com">www.yixinu.com</a></span></td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
        
    </div>
        <div class="w100 h10 fleft" >&nbsp;</div>
        <div class="w100 h10 fleft" >&nbsp;</div>
        <div class="w100 h10 fleft" >&nbsp;</div>
        <div class="w100 h10 fleft" >&nbsp;</div>
</div>