<layout name="layout/layout1" />
<style>
#goodslisttable tr th{text-align: center;}
#goodslisttable tr td{ text-align: center; }
</style>
<div class="content_title w100 clearfix">
    <include file='jinxiaocun/menu1' />
    
    <div class="search" >
        <select name="warehouse_id" >
            <option value="0">选择仓库</option>
            <?php foreach($warehouse as $v){ ?>
            <option value="{$v.id}" <?php if(@$_GET['warehouse_id']==$v['id']){ ?>selected='selected'<?php } ?> >{$v.name}</option>
            <?php } ?>
        </select>
        <!--<span>名称：</span>-->
        <input type="text" class="input2" placeholder="名称或编号" name="searchval" value="{$_GET.searchval}" onkeyup="keydown(function(){ privateMethod.search(); })" />
        &nbsp;&nbsp;
        <button type="button" class="bt1" onclick="privateMethod.search()" >搜索</button>
    </div>
</div>
<div class="w100">
    <table id='goodslisttable' class="content_list w100">
        <tr>
            <th width='80'>编号</th>
            <th>商品名称</th>
            <th>仓库数量</th>
            <th>总库存</th>
            <th>仓库</th>
            <!--<th>入库时间</th>-->
            <!--<th>总金额</th>-->
            <th>操作</th>
        </tr>
        
        <list name="list" item="v">
            <tr <?php if($v['nums']<=0){ echo "class='cy'"; } ?> >
                <td>{$v.goods_sn}</td>
                <td> {$v.goods_name}</td>
                <td>{$v.nums}</td>
                <td>{$v.numbers}</td>
                <td>{$v.warehouse_name}</td>
                <!--<td><font class='c2'>{$v.storage_time}</font></td>-->
                <!--<td><font class='c2'>{$v.total}</font></td>-->
                <td>
                    <input type="hidden" name="warehouse_id" value="{$v.warehouse_id}" />
                    <input type="hidden" name="warehouse_name" value="{$v.warehouse_name}" />
                    <input type="hidden" name="goods_id" value="{$v.goods_id}" />
                    <input type="hidden" name="goods_name" value="{$v.goods_name}" />
                    <a href="#" onclick="privateMethod.baosun_show_win(this)">报损</a>&nbsp;&nbsp;
                    <a href="<?php echo __ROOT__; ?>?jinxiaocun=k&type=inventory_records&goods_id={$v.goods_id}" title='出入库记录' >记录</a>&nbsp;&nbsp;
                    <a href="<?php echo __ROOT__; ?>?jinxiaocun=k&type=a_sales_record&goods_id={$v.goods_id}" title='销售详情' >销售详情</a>
                </td>
            </tr>
        </list>
    </table>
    <div id="page" class="clearfix">{$pageinfo}</div>
</div>

<script>
    $(function(){
        $("input[name='searchval']").focus();
    });
    privateMethod = {};
    privateMethod.search = function(){
        var data = $(".search input,select").serialize();
        var url = '<root />?jinxiaocun=k&type=inventory&' + data;
        window.location.replace(url);
    };
    
    var option = new Array();
    option[0] = {name: 'nums', type: 'regexp', msg: '填写一个小于总库存的数值 ', rule: /^[0-9]{1,7}$/, required: 1};
    option[1] = {name: 'comments', type: 'regexp', msg: '1到120个字符，不能包括： < > \ = / . ? \'  | & ', rule: /^[^<>\\=/.?+'|&]{1,130}$/, required: 1};
    ch = new formCheck(option);
        
    //--报损显示窗口
    privateMethod.baosun_show_win = function(e){
        var w_id = $(e).parent().find("input[name='warehouse_id']").val();
        var w_name = $(e).parent().find("input[name='warehouse_name']").val();
        var goods_id = $(e).parent().find("input[name='goods_id']").val();
        var goods_name = $(e).parent().find("input[name='goods_name']").val();
        $.get('<root />?c=jinxiaocun&a=baosun_show_win',{w_id:w_id,w_name:w_name,goods_id:goods_id,goods_name:goods_name},function(d){
            var msg = kmsg(d,'报损 - 记录商品损耗',1,550,480,null,1,function(){
                //--检测输入的值是否合格
                var res = ch.start();
                if (res == 1) {
                    var url = $("#baosun_form1").attr('action');
                    var data = $("#baosun_form1").serialize();
                    $.post(url,data,function(d){
                        if(d.status==1){
                            window.location.reload();
                        }else{
                            confirm_('<p>&nbsp;&nbsp;&nbsp;&nbsp;'+d.msg+'</p>');
                        }
                    },'json');
                }
            });
        });
    };
</script>
