<a href="<?php echo __ROOT__; ?>?jinxiaocun=k"><img src="<?php echo __ROOT__; ?>static/icon/a1.png" /><font>库存 (按数量)</font></a>
    <a href="<?php echo __ROOT__; ?>?jinxiaocun=k&type=inventory_nums"><img src="<?php echo __ROOT__; ?>static/icon/a1.png" /><font>库存 (按批次)</font></a>
    <a href="<?php echo __ROOT__; ?>?jinxiaocun=k&type=warehouse"><img src="<?php echo __ROOT__; ?>static/icon/a1.png" /><font>仓库</font></a>
    <a href="<?php echo __ROOT__; ?>?jinxiaocun=k&type=warehouse_add"><img src="<?php echo __ROOT__; ?>static/icon/a6.png" /><font>添加仓库</font></a>
    <a href="<?php echo __ROOT__; ?>?jinxiaocun=k&type=inventory_records"><img src="<?php echo __ROOT__; ?>static/icon/a1.png" /><font>出入库记录</font></a>
    <!--<a href="<?php echo __ROOT__; ?>?jinxiaocun=k"><img src="<?php echo __ROOT__; ?>static/icon/a1.png" /><font>统计</font></a>-->
