<layout name="layout/layout1" />
<div class="content_title w100 clearfix">
    <include file='jinxiaocun/menu1' />
    
    <div class="search" >
        <span>仓库名称/联系手机：</span>
        <input type="text" class="input2" name="username" value="{$_GET.username}" onkeyup="keydown(function(){ privateMethod.search(); })" />
        &nbsp;&nbsp;
        <input type="button" class="bt1" onclick="privateMethod.search()" value="搜索" />
    </div>
</div>
<div class="w100">
    <table class="content_list w100">
        <tr>
            <th>ID</th>
            <th>商户</th>
            <th>仓库名称</th>
            <th>标记</th>
            <th>联系电话</th>
            <th>联系人</th>
            <th>联系手机</th>
            <th>地址</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <list name="list" item="v">
            <tr>
                <td>{$v.id}</td>
                <td>{$v.business_name}</td>
                <td><a href="#" >{$v.name}</a></td>
                <td>{$v.mark}</td>
                <td>{$v.telephone}</td>
                <td>{$v.contacts}</td>
                <td>{$v.mobile}</td>
                <td>{$v.provice_name},{$v.city_name},{$v.county_name} {$v.address}</td>
                <!--<td>{$v.frozenMoney}</td>-->
                <!--<td>{$v.regTime}</td>-->
                <td>
                    <?php if($v['status']==1): ?>
                    <font class='cg'>正常</font>
                    <?php else: ?>
                    <font class='cr'>暂停</font>
                    <?php endif; ?>
                </td>
                <td>
                    <a href="<?php echo __ROOT__; ?>?jinxiaocun=k&type=warehouse_add&id={$v['id']}">修改</a>&nbsp;&nbsp;  
                    <!--<a href="javascript:confirm_('你确定要删除用户 [{$v['username']}] 吗？','<?php echo __ROOT__.'?user=delete&id='.$v['id']; ?>')" >删除</a>-->
                </td>
            </tr>
        </list>
    </table>
    <div id="page" class="clearfix">{$pageinfo}</div>
</div>

<script>
        $(function(){
            $("input[name='username']").focus();
        });
    privateMethod = {};
    privateMethod.search = function(){
        var data = '';
        var username = $("input[name='username']").attr('value');
        if(username!=''){
            data += '&username='+username;
        }
        var url = '<root />?user=list' + data;
        window.location.replace(url);
    }
</script>
