<layout name="layout/layout_null" />
<style type="text/css" >
.qrcode2{ margin: 30px auto; width: 255px; height: 255px; border: 1px solid #e1e1e1; }    
.qrcode2 img{ display: block; margin: 0px auto; }
.qrcode2_title{text-align: center;}
</style>
<div class="w1 clearfix" > 
    <div class="h30 w100" ></div>
    <h2 class="qrcode2_title" >扫描二维码，前往微商城 修改密码</h2>
    <div class="h30 w100" ></div>
    <div class="qrcode2" >
        <img id='qrcode3'  src="<root />static/default.gif"  />
    </div>
    <div class="h30 w100" ></div>
    <div class="h30 w100" ></div>
</div>

<script>
    priveteMethod = {};
    
    var obj = new Image();
    obj.src = "<?php echo createLink('u/qrcode',array('text'=>$url)); ?>";
    obj.onload = function() {
        console.log(this.src);
        document.getElementById('qrcode3').setAttribute('src', this.src);
    };
</script>

