<layout name="layout/layout1" />
<div class="content_title w100 clearfix">
    <a href="<?php echo __ROOT__; ?>?article=channel"><img src="<?php echo __ROOT__; ?>static/icon/a1.png" /><font>列表</font></a>
    <a href="<?php echo __ROOT__; ?>?article=channel&type=add"><img src="<?php echo __ROOT__; ?>static/icon/a6.png" /><font>添加</font></a>
</div>
<div class="w100">
    <?php $edit=false;  if(isset($_GET['type'])&&$_GET['type']=='edit'): $edit = true; endif; ?>
    <form method="post" action="" name="iform" onsubmit="return icheck();" >
    <table class="w100 content_list">
        <tr>
            <th width="180" style="text-align: left;">频道 编辑 </th>
            <th width="300"></th>
            <th></th>
        </tr>
        <tr>
            <td style="text-align: right;"><span class="cr fb" >*&nbsp;</span><span class="fb">频道名称：</span></td>
            <td><input type="text" class="input1" name="name"  onblur="ch.onecheck(this);" value="{$info.name}" /></td>
            <td><span id="nametips" class="c1">频道名称</span></td>
        </tr>
        <tr>
            <td style="text-align: right;"><span class="cr fb" >*&nbsp;</span><span class="fb">标识id：</span></td>
            <td>
                <?php if($edit): ?>
                 {$info.mark}
                <?php else: ?> 
                channel-<input type="text" class="input2" onblur="ch.onecheck(this,'<?php echo __ROOT__; ?>?c=article&a=exemption&t=ajaxchannel&value='+this.value,'该标识已被使用！请更换标识ID');" name="mark" value="{$info.mark}" />
                <?php endif; ?>
            </td>
            <td><span id="marktips" class="c1">创建后不可修改，必须为英文和数字，并且只能以英文开头</span></td>
        </tr>
        <tr>
            <td style="text-align: right;"><span class="fb">状态：</span></td>
            <td>
                <select name="status">
                    <option value="1" <?php if(isset($info['status']) && $info['status']==1): ?>selected='selected'<?php endif; ?> >可用</option>
                    <option value="2" <?php if(isset($info['status']) && $info['status']==2): ?>selected='selected'<?php endif; ?> >禁用</option>
                </select>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" class="bt1" name="_submit_" value="保存" />
            </td>
            <td></td>
        </tr>
    </table>
    </form>
    <script>
        $(function(){
            var option = new Array();
            option[0] = {name:'name',type:'regexp',msg:'频道名称应该为1－22个字符！',rule:/^.{1,22}$/,required:1}; 
            <?php if(!$edit): ?>
            option[1] = {name:'mark',type:'regexp',msg:'标识id应该为1－16个英文和数字！创建后不可修改',rule:/^[a-z|A-z|0-9]{1,22}$/,required:1}; 
            <?php endif; ?>
            ch = new formCheck(option);
        });
        function icheck(){
            var bool_ = false;
            var res = ch.start();
            if(res==1){
                bool_ = true;
            }
            return bool_;
        }
    </script>
</div>