<div class="setexpressDoc_addtag_area1" >
    <form name="form1" id="setexpressDoc_addtag_form1" action="" >
    <span><input type="checkbox" name="tag[conName]" value="收货人姓名" />收货人姓名</span>
    <span><input type="checkbox" name="tag[conMobile]" value="收货人手机号码" />收货人手机号码</span>
    <span><input type="checkbox" name="tag[conProvice]" value="收货地址 - 省" />收货地址 - 省</span>
    <span><input type="checkbox" name="tag[conCity]" value="收货地址 - 市" />收货地址 - 市</span>
    <span><input type="checkbox" name="tag[conCounty]" value="收货地址 - 区/县" />收货地址 - 区/县</span>
    <span><input type="checkbox" name="tag[conTown]" value="收货地址 - 乡镇/街道" />收货地址 - 乡镇/街道</span>
    <span><input type="checkbox" name="tag[conAddress]" value="收货地址 - 街道详细地址" />收货地址 - 街道详细地址</span>
    <hr />
    <span><input type="checkbox" name="tag[senName]" value="寄件人姓名" />寄件人姓名</span>
    <span><input type="checkbox" name="tag[senMobile]" value="寄件人手机号码" />寄件人手机号码</span>
    <span><input type="checkbox" name="tag[senPhone]" value="寄件人电话" />寄件人电话</span>
    <span><input type="checkbox" name="tag[senProvice]" value="寄件(省)" />寄件(省)</span>
    <span><input type="checkbox" name="tag[senCity]" value="寄件(市)" />寄件(市)</span>
    <span><input type="checkbox" name="tag[senCounty]" value="寄件( 区/县)" />寄件( 区/县)</span>
    <span><input type="checkbox" name="tag[senTown]" value="寄件(乡镇/街道)" />寄件(乡镇/街道)</span>
    <span><input type="checkbox" name="tag[senAddress]" value="寄件(街道详细地址)" />寄件(街道详细地址)</span>
    <hr />
    <span><input type="checkbox" name="tag[orderSn]" value="订单号" />订单号</span>
    <span><input type="checkbox" name="tag[orderfreight]" value="运费" />运费</span>
    <span><input type="checkbox" name="tag[orderweight]" value="总重量" />总重量</span>
    <span><input type="checkbox" name="tag[orderamount]" value="应付款" />应付款</span>
    <span><input type="checkbox" name="tag[orderusernote]" value="用户补充说明" />用户补充说明</span>
    <span><input type="checkbox" name="tag[select1]" value="选中 - √" />选中 - √&nbsp;&nbsp;<input type="text" name="select1Num" value="1" style="width:20px;" /></span>
    <hr />
    <span><input type="checkbox" name="tag[webName]" value="网站 - 名称" />网站 - 名称</span>
    <span><input type="checkbox" name="tag[webPhone]" value="网站 - 联系电话" />网站 - 联系电话</span>
    <span><input type="checkbox" name="tag[webAddress]" value="网站 - 联系地址" />网站 - 联系地址</span>
    <span><input type="checkbox" name="tag[webUrl]" value="网站 - 网址" />网站 - 网址</span>
    <hr />
    <span><input type="checkbox" name="tag[timeYear]" value="时间-年" />时间-年&nbsp;&nbsp;<input type="text" name="timeYearNum" value="1" style="width:20px;" /></span>
    <span><input type="checkbox" name="tag[timeMonth]" value="时间-月" />时间-月&nbsp;&nbsp;<input type="text" name="timeMonthNum" value="1" style="width:20px;" /></span>
    <span><input type="checkbox" name="tag[timeDay]" value="时间-日" />时间-日&nbsp;&nbsp;<input type="text" name="timeDayNum" value="1" style="width:20px;" /></span>
    <input type="hidden" name="_submit_" value="1" />
    </form>
</div>
