<layout name="layout/layout1" />
<style type="text/css" >
.orderdone_area1{ width: 75%; margin: 50px auto; padding: 16px 20px; font-size: 18px; color:#888;line-height: 35px;border:2px solid #E4E4E4;}
.orderdone_area1 .img1{display: inline-block; width: 160px; margin: 8px; height: 60px; border:1px solid #e1e1e1; cursor: pointer;}
.orderdone_area1 p{margin: 5px; padding: 3px;}
.orderdone_area1 .f1{color:#47B300; font-weight: bold;}
.orderdone_area1 .f2{color:#f00;font-size: 14px;}
.orderdone_area1 .table1{width:70%;margin: 0px auto; font-size: 14px;}
.orderdone_area1 .table1 td.al{text-align: left; color:#444;}
.orderdone_area1 .table1 td.ar{text-align: right;padding-right: 20px; width:73px;}
.orderdone_area1 .f3{color:#f00;}
.orderdone_area1 .f4{color:#2F8300;}
.orderdone_area1 .a1{display: inline-block; text-decoration: none; background-color: #B90000; border:1px solid #B90000; cursor: pointer; font-size: 14px; padding: 0px 18px;color:#fff;font-weight: bold;}
</style>
<div class="w1 clearfix" >
    <div class="orderdone_area1" >
        <p><font class="f1" >你的订单提交成功！</font>&nbsp;&nbsp;&nbsp;&nbsp;<font class="f2" >请在120分钟内完成支付（{$minute5}之前），否则系统将自动删除订单。</font></p>
        <table class="table1" border="0" cellspacing="5">
            <tbody>
                <tr>
                    <td class="ar" >订单号</td>
                    <td class="al" ><a href="<root  />?c=user&a=orderinfo&id={$orderid}" ><font class="f4" >{$orderSn}</font></a></td>
                </tr>
                <tr>
                    <td class="ar" >支付方式</td>
                    <td class="al" ><div class="img1" ><img src="<root />static/{$payment.logo}" /></div></td>
                </tr>
                <if con="$payment['sn']=='transfer'" >
                <tr> 
                    <td class="ar"></td>
                    <td class="al">
                    <p>微信号：{$payment.myweixin}</p>
                    <p>微信扫描下方的二维码加好友完成转账，转账时请告诉我短订单号：1122</p>
                    <img src="<root />image/{$payment.weixinqrcode}" />
                    </td>
                </tr>
                </if>
                <tr>
                    <td class="ar" >应付款</td>
                    <td class="al" ><font class="f3" >&yen;{$info.amount}</font></td>
                </tr>
                <tr>
                    <td class="ar" >配送方式</td>
                    <td class="al" ><font class="f4" >{$deliveryMethod}</font></td>
                </tr>
                <tr>
                    <td class="ar" >收货人</td>
                    <td class="al" >{$info.name}&nbsp;&nbsp;&nbsp;&nbsp;({$info.mobile})</td>
                </tr>
                <tr>
                    <td class="ar" ></td>
                    <td class="al" ><a href="<root  />?c=user&a=orderinfo&id={$orderid}" >查看订单</a>
                    <if con="$payment['sn']!='transfer'" >&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="<root />pay/{$payment.sn}/id_{$orderid}" class="a1" >立即支付</a></if>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
