<layout name="layout/layout1" />
<style type="text/css">
ul.area1{ padding: 0px;}
ul.area1 li{ list-style-type: none; width: 180px; float: left; padding: 6px 0px;}
</style>
<div class="w100">
    <form method="post" action="">
    <table class="w100 content_list">
        <tr>
            <th width="120" style="text-align: left;">添加角色</th>
            <th style="text-align: left;"></th>
        </tr>
        <tr>
            <td style="text-align: right;">角色名称：</td>
            <td style="text-align: left;"><input type="text" class="input11" name="name" value="{$info['name']}" /></td>
        </tr>
        <tr>
            <td style="text-align: right;">状态：</td>
            <td style="text-align: left;">
                <label><input type="radio" <?php if(@$info['status']==1){ ?>checked='checked'<?php } ?> name="status" value="1" />可用</label>&nbsp;&nbsp;
                <label><input type="radio" <?php if(@$info['status']==2){ ?>checked='checked'<?php } ?> name="status" value="2" />禁用</label>
            </td>
        </tr>
        <tr id="nohover" >
            <td style="text-align: right; vertical-align: top;">权限指派：</td>
            <td style="text-align: left;">
                <list name="main" item="v">
                <div class='clearfix'>
                    <p class='fb'>
                        <label>
                        <input id="first{$v['id']}" onclick="click1('.second{$v['id']}',this)" type='checkbox' value='{$v['id']}' name='authorfie[]' <?php if(!empty($v['roleId'])): ?>checked='checked'<?php endif; ?> />{$v['name']}
                       </label>
                    </p>
                    <ul class='area1 clearfix'>
                        <?php $var = 'menu'.$v['id']; foreach($$var as $value): ?>
                        <li>
                            <label>
                            <input class="second{$v['id']}" onclick="click2('#first{$v['id']}')" type='checkbox' value='<?php echo $value['id']; ?>' name='authorfie[]' <?php if(!empty($value['roleId'])): ?>checked='checked'<?php endif; ?> /><?php echo $value['name']; ?>
                           </label>
                        </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
                <hr />
                </list>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="_submit_" value="提交" />
            </td>
        </tr>
    </table>
        </form>
</div>
<script type="text/javascript">
  function click1(id,e){ $.each($(id),function(i,n){if($(e).attr('checked')=='checked'){ $(n).attr('checked',true);}else{ $(n).attr('checked'    ,false);}});} 
  function click2(id){ $(id).attr('checked',true);}</script>