<layout name="layout/layout2" />
<style type="text/css" >
.message_area1{box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); width: 75%; margin: 50px auto; padding: 30px 20px; font-size: 18px; color:#888; text-align: center; line-height: 35px; border:2px solid #F3F3F3;}
.area1{ border-top: 1px solid #f1f1f1; width: 70%; }
.area1 p{ font-size: 14px; color:#00c1de; }
</style>
<div class="w1 clearfix" >
    <div class="message_area1" >
        <p>
        {$messageContent}
        </p>
    <div class="area1">
        <p>@长沙异新优网络科技有限责任公司</p>
    </div>
    </div>
</div>
