<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>{$webtitle_} {$webconfig.webtitle}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <script src="<root />static/jquery-1.8.1.min.js" type="text/javascript"></script>
        <script src="<root />static/main.js" type="text/javascript"></script>
        <link href="<root />static/mobile.css?v=<?php echo time(); ?>" rel="stylesheet" type="text/css"/>
    </head>
    <body class="maxwidth">
        <div class="w100 clearfix" >
            <header class="mainMenu3 clearfix theme_background_color theme_border_color_bottom" >
                <div class="a1" >长沙</div>
                <div class="a2" >
                    <div class="b3" >
                        <form action="<root />" method="get" >
                            <input type="hidden" name="c" value="goods" />
                            <input type="hidden" name="a" value="search" />
                        <input class="i1" type="text" name="keywords" value="" />
                        <i class="iconfont" onclick="privateMethod.search();" >&#xe6ac;</i>
                        </form>
                    </div>
                </div>
                <div class="a3" >
                    <div><a href='<?php echo createLink("user/index"); ?>' ><span><i class="iconfont" >&#xe6b8;</i></span></a> </div>
                </div>
            </header>
            {__CONTENT__}
            <div class="hg40 w100" ></div>
            <div class="mainMenu1" init="2" onclick="setmenu(this)" >...</div>
            <div class="mainMenu2 theme_background_color2 clearfix" >
                <ul class="clearfix" >
                    <li><a class="a1" href="<root />" ><i class="iconfont" >&#xe60c</i><span>关于我们</span></a></li>
                    <li><a class="a2" href="javascript:void(0)" >
                            <!--<b>0</b>-->
                            <i class="iconfont" >&#xe606</i>
                            <span>公司简介</span></a>
                    </li>
                    <li><a class="a3" href="javascript:void(0)" ><i class="iconfont" >&#xe631</i><span>电商运营</span></a></li>
                    <li><a class="a4" href="<root />?v=/user" ><i class="iconfont" >&#xe6af</i><span>帮助中心</span></a></li>
                </ul>
            </div>
        </div>
    </body>
</html>