
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before { content: "\e69a"; }
.icon-cart:before { content: "\e698"; }
.icon-back:before { content: "\e697"; }
.icon-all:before { content: "\e696"; }
.icon-category:before { content: "\e699"; }
.icon-delete:before { content: "\e69d"; }
.icon-edit:before { content: "\e69e"; }
.icon-warning:before { content: "\e6b6"; }
.icon-wrong:before { content: "\e6b7"; }
.icon-account:before { content: "\e6b8"; }
.icon-viewgallery:before { content: "\e6b4"; }
.icon-search:before { content: "\e6ac"; }
.icon-success:before { content: "\e6b1"; }
.icon-comments:before { content: "\e69b"; }
.icon-cry:before { content: "\e69c"; }
.icon-less:before { content: "\e6a5"; }
.icon-moreunfold:before { content: "\e6a6"; }
.icon-more:before { content: "\e6a7"; }
.icon-selected:before { content: "\e6ad"; }
.icon-smile:before { content: "\e6af"; }
.icon-set:before { content: "\e6ae"; }
.icon-folder:before { content: "\e6a1"; }
.icon-email:before { content: "\e69f"; }
.icon-clock:before { content: "\e6bb"; }
.icon-attachment:before { content: "\e6c0"; }
.icon-print:before { content: "\e6c9"; }
.icon-dollar:before { content: "\e702"; }
.icon-move:before { content: "\e6fd"; }
.icon-jewelry:before { content: "\e6e4"; }
.icon-process:before { content: "\e6ce"; }
.icon-security:before { content: "\e6cc"; }
.icon-code:before { content: "\e60c"; }
.icon-copy:before { content: "\e60e"; }
.icon-down:before { content: "\e613"; }
.icon-browser:before { content: "\e606"; }
.icon-answer:before { content: "\e604"; }
.icon-add:before { content: "\e603"; }
.icon-favor:before { content: "\e619"; }
.icon-friends:before { content: "\e621"; }
.icon-home:before { content: "\e626"; }
.icon-message:before { content: "\e631"; }
.icon-menu:before { content: "\e630"; }
.icon-loading:before { content: "\e62b"; }
.icon-mac:before { content: "\e667"; }
.icon-windows:before { content: "\e668"; }
.icon-android:before { content: "\e669"; }
.icon-money:before { content: "\e663"; }
.icon-alipay:before { content: "\e65b"; }
